<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel='stylesheet' href='./ccss/styles.css'>
</head>

<body>
    {{>header}}
    <h1>Help Page!</h1>
    <h2>{{title}}</h2>
    {{>footer}}
</body>

</html>